{{#if typescript}}
import * as React from 'react';
{{else}}
import React from 'react';
  {{#if proptypes}}
import PropTypes from 'prop-types';
  {{/if}}
{{/if}}
{{#if typescript}}
  {{#if proptypes}}

{{#if export}}export {{/if}}type {{ name }}Props = {
  //
};
  {{/if}}
{{/if}}

{{#if export }}export {{/if}}const {{ name }}{{#if typescript}}: React.FC<
  {{~#if proptypes~}} {{ name ~}} Props {{~else~}} any {{~/if}}> {{~/if}} = () => {
  return (
    <div>{{name}}</div>
  );
};

{{#if proptypes~}}{{#unless typescript}}
  {{ name }}.propTypes = {
    //
  };
  {{#unless export}}

  {{/unless}}
{{/unless}}
{{/if}}
{{#unless export }}
export default {{ name }};
{{/unless}}
